# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Env
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Go
*.exe
*.test

# Logs
*.log

# Misc
tmp/
*.tmp
